.u-section-1 .u-sheet-1 {
  min-height: 259px;
}

.u-section-1 .u-text-1 {
  font-family: "Space Grotesk";
  font-size: 2.375rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: -30px auto 0 389px;
}

.u-section-1 .u-text-4 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: -30px auto 0 806px;
}

.u-section-1 .u-text-5 {
  font-family: "Space Grotesk";
  margin: -3px 226px 0 806px;
}

.u-section-1 .u-text-6 {
  font-family: "Space Grotesk";
  margin: -102px 711px 0 389px;
}

.u-section-1 .u-text-7 {
  font-family: "Space Grotesk";
  margin: -150px 1079px 10px 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-6 {
    width: 362px;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -94px;
    margin-right: 806px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 321px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 665px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 665px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -126px;
    margin-right: 365px;
    margin-left: 321px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -147px;
    margin-right: 738px;
    margin-bottom: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 246px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 509px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
    margin-right: 39px;
    margin-left: 509px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -189px;
    margin-right: 259px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -181px;
    margin-right: 518px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 94px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 200px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 228px;
    margin-left: 197px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-right: 206px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -444px;
    margin-right: 192px;
    margin-left: 146px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -419px;
    margin-right: 192px;
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 240px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 81px;
    margin-left: 69px;
  }

  .u-section-1 .u-text-6 {
    width: 202px;
    margin-top: -459px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 729px;
}

.u-section-2 .u-image-1 {
  width: 475px;
  height: 475px;
  margin: 112px auto 0 -19px;
}

.u-section-2 .u-text-1 {
  font-family: "Space Grotesk";
  font-size: 2.8125rem;
  margin: -387px 283px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "Space Grotesk";
  margin: 20px 83px 60px 627px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -353px;
    margin-right: 183px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: -17px;
    margin-left: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-image-1 {
    width: 438px;
    height: 438px;
    margin-top: 60px;
    margin-left: -11px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -426px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin: 44px -13px 93px 490px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 335px;
    margin: 26px auto 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2 .u-image-1 {
    height: 340px;
    margin-top: -495px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 72px;
  }

  .u-section-2 .u-text-2 {
    margin: 19px 14px 30px;
  }
}