.u-section-1 .u-sheet-1 {
  min-height: 580px;
}

.u-section-1 .u-text-1 {
  margin: 31px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -581px;
    margin-right: -50px;
    margin-left: -31px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -558px;
    margin-right: -36px;
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -892px;
    margin-right: -160px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -1379px;
    margin-right: -20px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-group-1 {
  width: 2277px;
  min-height: 279px;
  margin: -16px -568px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 6px;
}

.u-section-2 .u-text-1 {
  font-family: "Space Grotesk";
  font-size: 1.25rem;
  margin: 2px 604px 0 1245px;
}

.u-section-2 .u-text-2 {
  font-family: "Space Grotesk";
  margin: -171px 1279px 0 587px;
}

.u-section-2 .u-text-3 {
  font-family: "Space Grotesk";
  font-size: 2.375rem;
  margin: 31px auto 0 0;
}

.u-section-2 .u-text-4 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-2 .u-text-5 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: -30px auto 0 389px;
}

.u-section-2 .u-text-6 {
  font-family: "Space Grotesk";
  font-size: 1.5625rem;
  font-weight: 700;
  margin: -30px auto 0 806px;
}

.u-section-2 .u-text-7 {
  font-family: "Space Grotesk";
  margin: -3px 226px 0 806px;
}

.u-section-2 .u-text-8 {
  font-family: "Space Grotesk";
  margin: -102px 711px 0 389px;
}

.u-section-2 .u-text-9 {
  font-family: "Space Grotesk";
  margin: -150px 1079px 10px 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 10px;
    margin-right: 25px;
  }

  .u-section-2 .u-text-8 {
    width: 362px;
    margin-top: -105px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -94px;
    margin-right: 806px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-2 .u-group-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 511px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 528px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 321px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 665px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-right: 0;
    margin-left: 665px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -126px;
    margin-right: 365px;
    margin-left: 321px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -147px;
    margin-right: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-2 .u-group-1 {
    width: 1416px;
    margin-right: auto;
    margin-left: -369px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 23px 2px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-right: 291px;
    margin-left: 752px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -179px;
    margin-right: 678px;
    margin-left: 365px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 246px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 509px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
    margin-right: 39px;
    margin-left: 509px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -189px;
    margin-right: 259px;
    margin-left: 246px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -181px;
    margin-right: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1366px;
  }

  .u-section-2 .u-group-1 {
    width: 686px;
    min-height: 419px;
    margin-top: -25px;
    margin-left: -96px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: 369px;
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 369px;
    margin-top: -360px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 49px;
    margin-left: 123px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 200px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 228px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
    margin-right: 206px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -444px;
    margin-right: 192px;
    margin-left: 146px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -419px;
    margin-right: 192px;
    margin-left: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-2 .u-group-1 {
    width: 512px;
    min-height: 398px;
    margin-top: -427px;
    margin-left: -86px;
    margin-right: -86px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 336px;
    margin-top: 137px;
    margin-right: 62px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-2 {
    width: 336px;
    margin-top: -363px;
    margin-right: 57px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 240px;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: 81px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-8 {
    width: 202px;
    margin-top: -459px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 681px;
}

.u-section-3 .u-image-1 {
  width: 475px;
  height: 475px;
  margin: 64px auto 0 -19px;
}

.u-section-3 .u-text-1 {
  font-family: "Space Grotesk";
  font-size: 2.8125rem;
  margin: -387px 283px 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: "Space Grotesk";
  margin: 20px 83px 60px 627px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -353px;
    margin-right: 183px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: -17px;
    margin-left: 527px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-image-1 {
    width: 438px;
    height: 438px;
    margin-top: 60px;
    margin-left: -11px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -426px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin: 44px -13px 93px 490px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 26px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 335px;
    margin: 26px auto 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    margin-top: -495px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 72px;
  }

  .u-section-3 .u-text-2 {
    margin: 19px 14px 30px;
  }
}